@model SubscriptionsModel

<div class="form">
    <div class="form-col-2">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Add", autocomplete = "off", autocapitalize = "off" }))
        {
            @Html.AntiForgeryToken();
            <section>
                <div>@Html.LabelFor(x => x.EventId)</div>
                <div>
                    @Html.DropDownListFor(x => x.EventId, Helper.GetEvents(), "--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EventId)
                </div>
            </section>
            <section>
                <div>@Html.LabelFor(model => model.UserIds)</div>
                <div>
                    @Html.ListBoxFor(model => model.UserIds, Helper.GetUsers(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserIds)
                </div>
            </section>
            <hr />
            <section>
                <div>
                    <a href="@Url.Action("List")" class="btn btn-default">Back to List</a>
                </div>
                <div class="a-r">
                    <input type="submit" value="Save" />
                </div>
            </section>
        }
    </div>
</div>
