@model IEnumerable<AltaSoft.Notifications.DAL.Application>

@{
    ViewBag.Title = "Projects";
}

<style>
    .projects {
    }

    .projects .item {
        border: 1px solid #D2D2D2;
        border-radius: 5px;
        padding: 30px 30px 40px;
        text-align: center;
        background-color: #F9F9F9;
        margin-bottom: 10px;
    }

    .projects .item h2 {
        color: #07457c;
    }

    .projects .item h4 {
        min-height: 50px;
    }

    .projects .item .logo {
        height: 130px;
        margin-bottom: 10px;
    }

    .projects .item table td:first-child {
        color: gray;
    }
</style>

<h2>Projects</h2>
<hr />
<h4>Powerd by Notification System:</h4>
<hr />

<div class="row projects">
    @foreach (var item in Model.Where(x => !x.IsTestMode))
    {
        <div class="col-md-4">
            <div class="item">
                <div>
                    <img class="logo" src="@item.ImageUrl" />
                </div>
                <h2>@item.Name</h2>
                <hr />
                <h4>@item.Description</h4>
                <br />
                @*<table class="table table-striped">
                        <tr>
                            <td>@item.RegDate.ToString("MMM dd, yyyy")</td>
                        </tr>
                        <tr>
                            <td>@item.EmailFromAddress</td>
                        </tr>
                        <tr>
                            <td>@item.EmailFromFullName</td>
                        </tr>
                    </table>*@
                @if (item.IsTestMode)
                {
                    <div class="alert alert-info">
                        Development
                    </div>
                }
                else
                {
                    <div class="alert alert-success">
                        Production
                    </div>
                }
            </div>
        </div>
    }
</div>
